<%- include('partials/header',{content:'top'}) -%>
      <section class="mainImg">
        <div class="mainImgInner">
<!--
////////////////  ▽▽▽変更可能領域  ここから▽▽▽  ////////////////
-->
<!--
////////////////  △△△変更可能領域  ここまで△△△  ////////////////
-->
        </div>
      </section>
      <!-- /.mainImg -->
      <div class="containerWrap">
        <div id="container" class="row<%=(settings.column == 'left')?' main-right':''%>">
          <div id="main" class="column-3-4">
            <section class="block block_head">
              <div class="element element_freearea">
<!--
////////////////  ▽▽▽変更可能領域：メインカラム上部  ここから▽▽▽  ////////////////
-->
                メインカラム上部のコーディングが入ります。
<!--
////////////////  △△△変更可能領域：メインカラム上部  ここまで△△△  ////////////////
-->
              </div>
            </section>
            <!-- /.block -->

            <section class="block block_head">
              <div class="element element_list element_block layout_b_pattern15">
                <div class="extitle">
                  <div class="title title_listicon"><span>NEWS &amp; TOPICS</span><small>お知らせ</small></div>
                  <div class="listicon"><a href="/news/?mode=list" title="新着情報 一覧へ"><img src="/layout/asset/images/icon_to_list.gif" alt="一覧へ" /></a></div><br class="clear" />
                </div><!--//extitle-->
                <div class="contents list_text list4">
                  <div class="artloop list4">
                    <p class="date">2015/11/06</p>
                    <h5><a href="/news/?mode=detail&article=4" title="タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a><span class="catetitle"> [<a href="/news/?mode=list&cat=1" title="カテゴリ">カテゴリ</a>]</span></h5>
                    <p>本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります...</p>
                  </div>
                  <div class="artloop list4">
                    <p class="date">2015/11/06</p>
                    <h5><a href="/news/?mode=detail&article=3" title="タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a><span class="catetitle"> [<a href="/news/?mode=list&cat=1" title="カテゴリ">カテゴリ</a>]</span></h5>
                    <p>本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります...</p>
                  </div>
                  <div class="artloop list4">
                    <p class="date">2015/11/06</p>
                    <h5><a href="/news/?mode=detail&article=2" title="タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</a><span class="catetitle"> [<a href="/news/?mode=list&cat=1" title="カテゴリ">カテゴリ</a>]</span></h5>
                    <p>本文テキストが入ります。本文テキストが入ります。本文テキストが入ります。本文テキストが入ります...</p>
                  </div>
                </div>
              </div><!--//element-->
            </section>
            <!-- /.block -->

            <section class="block block_head">
              <div class="element element_freearea">
<!--
////////////////  ▽▽▽変更可能領域：メインカラム下部  ここから▽▽▽  ////////////////
-->
                メインカラム下部のコーディングが入ります。
<!--
////////////////  △△△変更可能領域：メインカラム下部  ここまで△△△  ////////////////
-->
              </div>
            </section>
            <!-- /.block -->
            
            
          </div>
          <!-- /#main -->
          <div id="side" class="column-1-4">
          </div>
          <!-- /#main -->
          
        </div>
        <!-- /#container -->
      </div>
      <!-- /.containerWrap -->
<%- include('partials/footer',{content:'top'}) -%>