      <footer>
<!--
////////////////  ▽▽▽変更可能領域：フッター  ここから▽▽▽  ////////////////
-->
        <a href="#top" class="pagetop">page top</a>
        <nav id="footerNav">
          <ul class="contentsNav">
<%
  var contDir = Object.keys(contents);
  contDir.forEach(function (value, key) {
-%>
            <li><a href="<%= (value == '/')? value:'/'+value+'/' %>" title="<%= contents[value].title %>"><%= contents[value].title %></a></li>
<%
  });
-%>
          </ul>
          <ul class="subNav">
            <li><a href="/profile.php" title="会社概要">会社概要</a></li>
            <li><a href="/privacy.php" title="プライバシーポリシー">プライバシーポリシー</a></li>
            <li><a href="/sitemap.php" title="サイトマップ">サイトマップ</a></li>
          </ul>
        </nav>
        <!-- /#footerNav -->
<!--
////////////////  △△△変更可能領域：フッター  ここまで△△△  ////////////////
-->
        <small class="copyright"><a href="/" title="<%= meta.author %>" >Copyright © 2015 <%= meta.author_en %> All Rights Reserved.</a></small>
        <small class="promotion"><a href="http://www.hayabusacms.com/" target="_blank" rel="nofollow">hayabusaCMS</a></small>
      </footer>
    </div>
    <!-- /#allbox -->
      
  </body>
</html>