<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta name="content-language" content="ja" />
    <meta name="robots" content="index,follow" />
    <meta name="revisit_after" content="7 days" />
    <meta name="author" content="<%= meta.author %>" />
    <title><%= (content != 'top')? contents[content].title+' | ':'' %><%= meta.title %></title>
    <meta name="description" content="<%= meta.description %>" />
    <meta name="keywords" content="<%= meta.keywords %>" />
    <meta itemprop="name" content="<%= meta.author %>"/>
    <meta itemprop="image" content="/sitelogo.jpg"/>
    <meta property="og:site_name" content="<%= meta.author %>" />
    <meta property="og:title" content="<%= (content != 'top')? contents[content].title+' | ':'' %><%= meta.title %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="/"/>
    <meta property="og:image" content="/sitelogo.jpg"/>
    <meta property="og:description" content="<%= meta.description %>">
    <meta property="og:locale" content="ja_JP" />
    <link rel="canonical" href="/"/>
    <link rel="alternate" type="application/rss+xml" title="ROR" href="/sitemap.xml" />
    <link rel="alternate" type="text/html" title="ATOM" href="index.php?feed=atom" />
    <link rel="alternate" type="text/xml" title="RSS .92" href="index.php?feed=rss" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="index.php?feed=rss2" />

    <link rel="start" href="/" title="<%= meta.title %>" />
<%
  var contDir = Object.keys(contents);
  contDir.forEach(function (value, key) {
    if(value != "/"){ -%>
    <link rel="chapter" href="/<%= value %>/" title="<%= contents[value].title %>" />
<%  }
  });
-%>
    <link rel="chapter" href="/profile.php" title="会社概要" />
    <link rel="chapter" href="/privacy.php" title="プライバシーポリシー" />
    <link rel="chapter" href="/sitemap.php" title="サイトマップ" />
    <script>var hsRoot = "/layout/";</script>
    <script src="/layout/hs_js/assets.js"></script>
    <noscript>
    <section class="status">Javascriptが無効になっているため、正常に表示できない場合があります。</section>
    </noscript>
    <meta name="viewport" content="width=1000">
    <link href="/layout/asset/css/common.css" rel="stylesheet">
    <script src="/layout/asset/js/init.js"></script>
    <link href="/asset/css/customize.min.css" rel="stylesheet">
    <script src="/asset/js/plugins.js"></script>
    <script src="/asset/js/init.js"></script>
<% if(content != ''){ %>
<!--
////////////////  ▽▽▽変更可能領域：追加スタイルシート、JS  ここから▽▽▽  ////////////////
-->
    <link href="/asset/css/<%= content %>.min.css" rel="stylesheet">
<!--
////////////////  △△△変更可能領域：追加スタイルシート、JS  ここまで△△△  ////////////////
-->
<% } %>
  </head>
  <body class="is--<%= (content == "top")? contents["/"].bodyClass : content %>">
    <div id="allbox">
      
      <section class="toolbar">
        <div class="row">
          <h1 class="column-1-2" title="<%= meta.description %>"><%= meta.description %></h1>
          <div class="tools column-1-2">
            <section class="hybsLogin right">
              <a href="/hs_admin/" class="button button-small button-border " target="_blank" title="サイト管理画面">login</a>
            </section>
            <!-- /.login -->
            <form method="post" action="/search.php">
              <section class="hybsSearch input-group right">
                <input type="text" name="search" class="input-small" placeholder="サイト内検索" value="">
                <span class="input-group-button input-group-button-small">
                  <button type="submit" class="button button-text icon-search"></button>
                </span>
              </section>
              <!-- /.hybsSearch input-group -->
            </form>
            <section class="fontChange right">
              <label>文字サイズ</label>
              <button class="button button-small font-small current" data-font-size="fontSmall">小</button>
              <button class="button button-small font-middle" data-font-size="fontMiddle">中</button>
              <button class="button button-small font-large" data-font-size="fontLarge">大</button>
            </section>
            <!-- /.fontCange -->
          </div>
          <!-- /.tools -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.toolbar -->
      <header id="header">
<!--
////////////////  ▽▽▽変更可能領域：ヘッダー  ここから▽▽▽  ////////////////
-->
       <h2><a href="/" title="<%= meta.author %>" class="site_title"><%= meta.author %></a></h2>
<!--
////////////////  △△△変更可能領域：ヘッダー  ここまで△△△  ////////////////
-->
      </header>

      <nav id="gmenu" class="nav-inline">
        <ul>
<%
  contDir.forEach(function (value, key) {
-%>
          <li><a href="<%= (value == '/')? value:'/'+value+'/' %>" class="m<%= (value == '/')? contents[value].bodyClass:value %>" title="<%= contents[value].title %>"><%= contents[value].title %></a></li>
<%
  });
-%>
        </ul>
      </nav>
      <!-- /#gmenu -->
