.antialias(@antialias:auto){
  -webkit-font-smoothing: @antialias;
  -moz-osx-font-smoothing: @antialias;
}

.hoverOpacity(@opacity:.8){
  .transition(opacity @transition-fast ease-in-out);
  &:hover{
    opacity: @opacity;
  }
}
.hoverUnderline(@border-width,@border-color){
  &:after{
    display: block;
    content:'';
    width: 0%;
    height: 0;
    border-bottom: @border-width solid @border-color;
    position: relative;
    margin: 0 auto;
    .transition(all @transition-fast ease-in-out);
  }
  &:hover{
    text-decoration: none;
  }
  &:hover:after,
  &:focus:after,
  &[class*="current"]:after,
  &[class*="active"]:after{
    width: 100%;
  }
}