// テンプレートURL
@template-directory: 'http://secure.websapo.jp/_site_template/layout/100_01_white-gray';

//import turret override
@import 'turret/turret';

//import components
@import (reference) '_components';

//import extend mixins
@import (reference) '_mixins_extend';

//webfont読み込み
@fontfile_path: '../fonts/';
@import 'fonts/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

// デフォルトをカスタム用に上書きするスタイル(基本変更しない)
@import '_common';

// CMSベーシックパーツインポート：サイト特有のカスタムも以下ファイル内に記載する
@import 'elements/toolbar';
@import 'elements/breadcrumbs';
@import 'elements/paginations';
@import 'elements/block';

// 各セクションパーツインポート：サイト特有のカスタムも以下ファイル内に記載する
@import 'elements/header';
@import 'elements/side';
@import 'elements/footer';

// サイト特有の全体用カスタマイズを以下に記載