<% var contentName = 'business' %>
<%- include('../partials/header',{content:contentName}) -%>
      <section class="mainImg">
        <div class="mainImgInner">
<!--
////////////////  ▽▽▽変更可能領域：コンテンツイメージ  ここから▽▽▽  ////////////////
-->
          <p>コンテンツイメージが入ります。</p>
<!--
////////////////  △△△変更可能領域：コンテンツイメージ  ここまで△△△  ////////////////
-->
        </div>
      </section>
      <!-- /.mainImg -->


      <div class="breadcrumbs">
        <ol>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/" itemprop="url" title="<%=contents['/'].title%>"><span itemprop="title"><%=contents['/'].title%></span></a>
          </li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a itemprop="url" href="/<%=contentName%>/" title="<%=contents[contentName].title%>"><span itemprop="title"><%=contents[contentName].title%></span></a>
          </li>
        </ol>
      </div>
      <!-- /.breadcrumbs -->
      <div class="containerWrap">
        <div id="container" class="row<%=(settings.column == 'left')?' main-right':''%>">
          <div id="main" class="column-3-4">
            <div class="element element_detail">
              <div class="contents">
                <div class="entry">
  <!--
  ////////////////  ▽▽▽変更可能領域：ページ内容  ここから▽▽▽  ////////////////
  -->
                  <p>詳細ページの内容が入ります。</p>
  <!--
  ////////////////  △△△変更可能領域：ページ内容  ここまで△△△  ////////////////
  -->
                </div>
                <!--//ENTRY-->
                <div class="detailfooter">
                  <div class="paginationbox">
                    <p class="totalpages">1 / 4</p>
                    <div class="pageNav">
                      <a class="prev disable">前のページヘ</a>
                      <div class="backbtn">
                        <a href="/<%=contentName%>/index.html">一覧へ戻る</a>
                      </div>
                      <!-- /.backbtn -->
                      <a href="detail.html" class="next">次のページヘ</a>
                    </div>
                    <!-- /.pageNav -->
                  </div>
                  <!-- /.paginationbox -->
                </div>
                <!-- /.detailfooter -->
              </div>
              <!-- /.contents -->
            </div>
            <!-- /.element_detail -->
            <section class="block block_foot">
              <div class="element element_freearea">
  <!--
  ////////////////  ▽▽▽変更可能領域：ディレクトリ共通ブロック  ここから▽▽▽  ////////////////
  -->
                <p>下部ブロックが入ります。</p>
  <!--
  ////////////////  △△△変更可能領域：ディレクトリ共通ブロック  ここまで△△△  ////////////////
  -->
              </div>
            </section>
            <!-- /.block -->
          </div>
          <!-- /#main -->
          <div id="side" class="column-1-4">
            
          </div>
          <!-- /#main -->
          
        </div>
        <!-- /#container -->
      </div>
      <!-- /.containerWrap -->

<%- include('../partials/footer',{content:contentName}) -%>