body { background:#eaebeb;}
.cont { max-width:1100px; width:100%; margin:0 auto;}
.n-head { width:100%; float:left; background:#eaedf0; padding:10px 0;}
h1 { font-size:12px; width:48%; display:inline-block; vertical-align:middle; margin:0; padding:0;}
.head-right { width:48%; display:inline-block; vertical-align:middle;}
.n-slide { width:100%; float:left; position:relative;}
.slide { width:100%; float:left;}
.slide-text { position:absolute; top:15%; right:23%; z-index:99; font-size:13px; font-family: 'ヒラギノ角 W3', 'Hiragino Kaku', Osaka, 'メイリオ', 'Meiryo', 'MS UI Gothic', sans-serif; color:#303031; text-align:right;}
#content { background:url(../img/bg1.png) center center no-repeat; min-height:680px; margin-top:-345px; width:100%; float:left; position:relative; z-index:999;}
.n-logo { width:100%; float:left; text-align:center; margin-top:100px;}
.hv-o:hover { opacity:0.7;}

.n-menu { width:100%; float:left; text-align:center;}
.n-menu ul li { list-style:none; margin:auto; padding:0; display:inline-block; padding:0 20px; text-align:center; line-height:360%;}
.n-menu ul li a { color:#333; text-decoration:none;}
.n-menu ul li a:hover, .n-menu ul li a.active { color:#21b7c5; text-decoration:none;}

.title-h3 { width:100%; float:left; text-align:center; color:#303031; font-size:20px; font-family: 'ヒラギノ角 W3', 'Hiragino Kaku', Osaka, 'メイリオ', 'Meiryo', 'MS UI Gothic', sans-serif; margin-top:30px;}
.cl-1 { color:#21b7c5;}
.n-content { width:100%; float:left; text-align:center; font-size:14px; line-height:180%; font-family: 'ヒラギノ角 W3', 'Hiragino Kaku', Osaka, 'メイリオ', 'Meiryo', 'MS UI Gothic', sans-serif;}
.n-button { width:100%; float:left; text-align:center;}
.n-button a{ display:inline-block; border:1px solid #21b7c5; color:#21b7c5; padding:10px 40px; margin-top:40px;}