// ブロックのhover設定
@background-linkarea: fade(@dark-grey,3%);

@new-bg: @error;
@new-color: @white;

#main > .block .artloop:hover,
#side > .block .artloop:hover,
#main > .element_list .artloop:hover{
  background: @background-linkarea;
}

// Newマーク設定
#main > .block h5 > .new,
#side > .block h5 > .new,
#main > .element_list h5 > .new,
#main > .block h5 + .new,
#side > .block h5 + .new,
#main > .element_list h5 + .new{
  .hide-text;
  &:after{
    background-color: @new-bg;
    color: @new-color;
  }
}
