// フッターコピーライト・プロモーションリンク
@copyright-bg: @toolbar-bg;
@copyright-color: @white;
@copyright-padding: 2rem 0;

@promotion-display: none;
@promotion-color: @gray-5;
@promotion-padding: 2rem 0;

@footer-bg: transparent;

@footer-nav-bg: @primary;
@footer-nav-color: @white;

@pagetop-bg: fade(@primary,50%);
@pagetop-color: @body-color;
@pagetop-hover-color: @body-color;
@pagetop-icon-color: @primary;
@pagetop-padding: 1rem 0;

small.copyright{
  width: 100%;
  background-color: @copyright-bg;
  padding: @copyright-padding;
  margin: 0 auto;
  text-align: center;
  color: @copyright-color;
  a,
  a:visited,
  a:active{
    color: @copyright-color;
  }
  a:hover{
    text-decoration: none;
  }
}
small.promotion{
  display: @promotion-display;
  padding: @promotion-padding;
  margin: 0 auto;
  a,a:visited,a:active{
    color: @promotion-color;
  }
}
footer{
  margin-top: 0;
  background: @footer-bg;
  a.pagetop{
    background-color: @pagetop-bg;
    padding: @pagetop-padding;
    .transition(all @transition-fast ease-in-out);
    &,&:visited{
      color: @pagetop-color;
    }
    &:hover,
    &:focus{
      text-decoration: none;
      color: @pagetop-hover-color;
    }
    &:before{
      font-family: FontAwesome;
      content: '\f106';
      font-size: 3.5rem;
      color: @pagetop-icon-color;
    }
  }
  #footerNav{
    background: @footer-nav-bg;
    ul>li>a{
      color: @footer-nav-color;
      &:hover,
      &:focus{
        color: darken(@footer-nav-color,20%);
      }
    }
    .subNav{
      margin-bottom: 0;
    }
  }
}
