// ページング(prev/next)
@paging-button-bg: transparent;
@paging-button-hover-bg: fade(@primary,50%);
@paging-button-color: @body-color;
@paging-button-hover-color: @body-color;

@paging-num-color: @body-color;
@paging-num-hover-color: @body-color;
@paging-num-bg: transparent;
@paging-num-hover-bg: fade(@primary,40%);
@paging-icon-color: @primary;

#main .paginationbox{
  .pageNav{
    width: auto;
    margin: 0 auto;
  }
  .prev,.next{
    width: 11em;
    font-weight: 600;
    color: @paging-button-color;
    letter-spacing: .3em;
    background: @paging-button-bg;
    .transition(background @transition-fast ease-in-out);
  }
  .prev:before,
  .next:after{
    font-family: 'fontAwesome';
  }
  .prev:before{
    margin-right: .3em;
    content:'\f053';
  }
  .next:after{
    margin-left: .3em;
    content:'\f054';
  }
  .prev:not(.disable):before,
  .next:not(.disable):after{
    color: @paging-icon-color;
  }
  .prev.disable,.next.disable{
    background: transparent;
  }
  .prev:hover:not(.disable),
  .next:hover:not(.disable){
    color: @paging-button-hover-color;
    background: @paging-button-hover-bg;
  }
  .pages{
    padding: 0 15px;
  }
  .pages li{
    position: relative;
    .hoverUnderline(3px,@paging-icon-color);
    font-family: 'Roboto';
    span{
      color: @paging-num-color;
      background: @paging-num-hover-bg;
    }
    a{
      .transition(background @transition-fast ease-in-out);
      background: @paging-num-bg;
      &:hover{
        background: @paging-num-hover-bg;
      }
    }
    &:after{
      left:50%;
      position: absolute;
      bottom:0;
    }
    &:hover:after,
    &[class*='current']:after,
    &[class*='active']:after{
      display: none;
    }
  }
  .backbtn a{
    white-space: nowrap;
    padding: 12px 15px;
    width: 100%;
    color: @paging-num-color;
    background: transparent;
    border-color: transparent;
  }
  .totalpages{
    padding-left: 10px;
    padding-right: 10px;
  }
}