#side{
  .block .element_side_block{
    >.title{
      border: none;
      display: block;
      &:hover{
        background: none;
      }
      h4{
        display: block;
        font-size: 1.5rem;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 5px;
        margin-bottom: 6px;
        height: auto;
        font-weight: 600;
        border-bottom: 1px solid fade(@tertiary,50%);
      }
    }
    >.contents.contents_text a{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
    >.contents.contents_text a .contents{
      border-top: 0;
      padding: 4px 0;
      >h5.titleOnly{
        padding-left: 0;
      }
    }
    >.contents_cat{
      li{
        padding-left: 0;
      }
      .cat a{
        background: none;
        padding: 4px 0;
        text-decoration: underline;
        border-top: 0;
        border-bottom: 0;
        &:hover{
          text-decoration: none;
          background-color: #f7f7f7;
          color: inherit;
        }
      }
    }
  }
}
.sideBanner{}
.sideSocial{
  list-style: none;
  margin: 20px 0;
  text-align: center;
  li{
    display: inline-block;
    font-family:  'Montserrat', sans-serif;
    font-size: 16px;
    color: #C8C8C8;
    letter-spacing: 1px;
    margin: 0 5px;
    padding: 0;
    .like, .tweet {
      display: block;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 24px;
      padding: 0 10px;
      &:before{
        font-family: FontAwesome;
      }
    }
    .like {
      background-color: #4267B1;
      &:before{
        content: '\f087';
      }
    }
    .tweet {
      background-color: #1B94DF;
      &:before{
        content: '\f099';
      }
    }
  }
}