// ツールバー設定
@toolbar-bg: @dark-grey;
@toolbar-button-bg: @white;
@toolbar-button-current-bg: @gray-5;
@toolbar-color: @white;

#allbox > .toolbar{
  width: 100%;
  padding: 6px 0;
  margin: 0;
  background: @toolbar-bg;
  .row{
    .container;
    margin: 0 auto;
    @media @medium-up{
      max-width: 100%;
    }
  }
  h1,label{
    color: @toolbar-color;
  }
  .fontChange{
    .button{
      background: @toolbar-button-bg;
      border:none;
      &.current{
        background: @toolbar-button-current-bg;
      }
    }
  }
  .hybsLogin a:hover,
  .hybsLogin a:active,
  .hybsLogin a:focus {
    background: url('@{template-directory}/asset/images/hybs_login.png') no-repeat -22px center;
    background-color: #c4c8d2;
  }
}