//Shades
@white: #FFFFFF;
@black: #000000;
@light-grey: #DDD;
@grey: #555;
@dark-grey: #333;

//Indicators
@info: #1E90FF;
@error: #D91E18;
@warning: #FF4500;
@success: #00AA00;

//Palette
@light: #FAFAFC;
@dark: #222;
@primary: #168574;
@secondary: #274975;
@tertiary: #da3a2a;
@quaternary: #e27850;  // 未使用

//Paletts
@gray-1: lighten(#000,10%); // #1a1a1a
@gray-2: lighten(#000,20%); // #333333
@gray-3: lighten(#000,30%); // #4d4d4d
@gray-4: lighten(#000,40%); // #666666
@gray-5: lighten(#000,50%); // #808080
@gray-6: lighten(#000,60%); // #999999
@gray-7: lighten(#000,70%); // #b3b3b3
@gray-8: lighten(#000,80%); // #cccccc
@gray-9: lighten(#000,90%); // #e6e6e6
@gray-10: lighten(#000,97.4%); // #f8f8f8

//Utility
@inverse: @dark;



@sns-facebook-bg: #4162A6;
@sns-twitter-bg: #278BCC;
@sns-line-bg: #00b900;
@sns-gplus-color: #db4437;