/*
 * Global
 */

// Border Radius
@border-radius: 0px;

// Z-Index
@z-index-high: 999;
@z-index-medium: 99;
@z-index-low: 9;

// Animation
@animation-fast: 0.5s;
@animation-medium: 1s;
@animation-slow: 2s;

// Transition
@transition-fast: 0.2s;
@transition-medium: 0.3s;
@transition-slow: 0.5s;

// Height
@height-xlarge: 6.0rem;
@height-large: 5.0rem;
@height-medium: 4.4rem;
@height-small: 3.6rem;
@height-xsmall: 2.4rem;

// Margin
@margin-xlarge: 8.0rem;
@margin-large: 5.0rem;
@margin-medium: 3.5rem;
@margin-small: 2.0rem;
@margin-xsmall: 1.5rem;

// Padding
@padding-xlarge: 8.0rem;
@padding-large: 5.0rem;
@padding-medium: 3.5rem;
@padding-small: 2.0rem;
@padding-xsmall: 1.5rem;

// Max Width
@max-width-xlarge: 128rem;
@max-width-large: 100rem;
@max-width-medium: 80rem;
@max-width-small: 60rem;
@max-width-xsmall: 48rem;