@font-face {
  font-family: 'Lobster';
  src: url('@{fontfile_path}Lobster/Lobster.eot'); /* IE9 Compat Modes */
  src: url('@{fontfile_path}Lobster/Lobster.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@{fontfile_path}Lobster/Lobster.woff') format('woff'), /* Modern Browsers */
       url('@{fontfile_path}Lobster/Lobster.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('@{fontfile_path}Lobster/Lobster.svg#70ef71bab2726ebd0705e8bec95a0d75') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
